.App {
  text-align: center;
}

header {
  width: 100%;
  font-size: 2vh;
  background-color: #282c34;
  color: white;
  // position: fixed;
  top: 0;
  padding: 0.5vh;
  z-index: 100;
}

.bg{
  background-color: #b7c2da;
  z-index: 0;
}

main {
  min-height: 100vh;
  // display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10vh;
}

::-webkit-scrollbar 
{
	display: none;
	-webkit-appearance: none;
}

footer {
  width: 100%;
  font-size: 2vh;
  background-color: #282c34;
  color: white;
  // position: fixed;
  bottom:0;
  padding: 0.5vh;
  z-index: 100;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}